.container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.immg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.imgg{
    align-items: center;
    justify-content: center;
    width:80%;
    height:80%;
}